html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dddddd;
}

.clubs {
    background-color: rgb(235, 105, 11);
}
.backgroundDark {
    background-color: rgb(56, 55, 58);
}
.img{
    object-fit: cover;
}
.textOrange{
    color: rgb(235, 105, 11);
}
.burger{
    height: 5vh;
    width: 5vh;

    cursor: pointer;
}

.lineBurger{
    width:70%;
    border: white solid 1px;
}

.hero {

    height: 120vh;
    background-image: url("../images/heroSection-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.gros{
    font-size: 90px;
    width: 70%;
}
.image1{
    background-image: url("../images/1.jpg");
}
.image2{
    background-image: url("../images/2.jpg");
}
.image3{
    background-image: url("../images/3.png");
}
.image4{
    background-image: url("../images/4.png");
}
.image1bis{
    background-image: url("../images/1bis.jpg");
}
.image2bis{
    background-image: url("../images/2bis.jpg");
}
.image3bis{
    background-image: url("../images/3bis.jpg");
}
.image4bis{
    background-image: url("../images/4bis.jpg");
}
.imagePetite{
    width:30vh;

}
.image{
    height:30vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding{
    padding-right: 9em;
    padding-left: 9em;
}
.padding1{
    padding: 2em
}
.grand{
    width: 50%;
}
.petit{
     width: 45%;
 }
.moyen{
    width: 55%;
}
.title_h2 {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px black;


}
.h2_white{
    -webkit-text-stroke: 3px white;
    -webkit-text-fill-color: transparent;
}
.height{
    height: max-content;
}
.footer{
    height:20vh
}
.linkFooter{
    font-size: 12px;
    line-height: 25px;
}


#bouton-sticky {
    position:fixed;
    bottom:1%;
    right:50%;
    z-index:9999;
}